.login-background {
    height: 100%;
    background-image: url(./Pictures/forest.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#login-title {
    background: none;
    color: white;
    font-size: 24pt;
}

.userType-newUser {
    color: white;
}

button {
    margin-top: 15px;
}

#create-button {
    margin-left: 35%;
}