body {
    height: 100%;
    background-image: url(./Pictures/forest.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#new-account-header {
    text-align: center;
    color: white;
}

.webpage-center {
    width: 500px;
    padding: 35px;
}

.user-label-input {
    color: white;
    width: 150px;
}

.userType-newUser {
    color: white;
}

button {
    margin-top: 15px;
}

#create-button {
    margin-left: 165px;
}

#userType-input-container {
    padding-top: 10px;
}

#userPick {
    font-size: large;
}

#result h2 {
    background-color: rgb(148, 148, 148);
    padding: 0;
    margin: 0;;
    text-align: center;
}

#result #table {
    background-color: rgb(100, 100, 100);

}

#table th {
    font-size: 16pt;

}

#table tr:not(:first-child):hover {
    background: black;
}

h2{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#table {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 14pt;
}